<div class="container">
  <section class="timer">
    <h1 class="timer-counter">{{ taskSvc.getTimeName() | async }}</h1>
    <h3 class="timer-status">{{ taskSvc.getTimeTime() | async }}</h3>
  </section>
  <form
    class="add-task"
    #taskForm="ngForm"
    (ngSubmit)="onSaveTask(taskForm.value)"
  >
    <input required name="name" ngModel type="text" placeholder="Name" />
    <input
      required
      name="minutes"
      ngModel
      type="number"
      placeholder="mm"
      min="1"
    />
    <button type="submit" [disabled]="taskForm.invalid">Add task</button>
  </form>
  <section class="list-tasks">
    <div
      class="list-row"
      *ngFor="let task of taskSvc.getTaskList() | async; let i = index"
    >
      <p>{{ task.name | titlecase }} - {{ task.minutes }} mm</p>
      <p>{{ task.status ? "In process" : "Waiting" }}</p>
      <ng-container *ngIf="!task.status">
        <button (click)="onStart(i)" class="btn-start">Start</button>
        <button (click)="onDelete(i)">Delete</button>
      </ng-container>
    </div>
  </section>
</div>
